@model ProjetoPista.Model.Dtos.PistaDto
@section Scripts
    {
    <script src="~/js/Aprovacoes/SalvarPista.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#modalidadescombo').multiselect();
        });
        $(document).ready(function () {
            $('#niveisCombo').multiselect();
        });

    </script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap-multiselect.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-multiselect.js"></script>
   
    
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        //$("form").validate().settings.ignore = ".data-val-ignore, :hidden, :disabled";

        

    </script>
}
@{ var tempData = TempData["ErroAutenticacao"];
    var erroAutenticacao = tempData != null ? tempData.ToString() : string.Empty; }
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="display-4">@ViewData["Title"]</h2>
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col">
            <a class="btn btn-primary" asp-controller="Aprovacoes" asp-action="Consultar"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
            @*<a id="btn-salvar" class="btn btn-primary" asp-controller="Aprovacoes" asp-action="Salvar"><i class="fas fa-plus-circle"></i> Salvar</a>*@
            <input class="btn btn-primary" type="submit" value="Salvar" form="frm-pista" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form id="frm-pista" asp-controller="Aprovacoes" asp-action="Salvar" method="post" enctype="multipart/form-data">
                @Html.HiddenFor(model => model.id_pista)
                <div class="form-group row">
                    <label asp-for="nm_pista" class="col-sm-2 col-form-label">Nome</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.nm_pista, new { @class = "form-control", placeholder = "Nome completo" })
                        @Html.ValidationMessageFor(model => model.nm_pista, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ds_pista" class="col-sm-2 col-form-label">Descrição da Pista</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.ds_pista, new { @class = "form-control", placeholder = "Descrição" })
                        @Html.ValidationMessageFor(model => model.ds_pista, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="fl_paga" class="col-sm-1 col-form-label">É paga?</label>
                    <div class="col-lg-1">
                        @Html.CheckBoxFor(model => model.BoolPaga, new { @checked = Model.BoolPaga, @class = "form-control", placeholder = "Descrição" })
                        @Html.ValidationMessageFor(model => model.fl_paga, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                    @if (Model.id_pista != 0)
                    {
                <label asp-for="fl_pista_ativa" class="col-sm-1 col-form-label">Ativa ?</label>
                                <div class="col-lg-2">
                                    @Html.CheckBoxFor(model => model.BoolAtiva, new { @checked = Model.BoolAtiva, @class = "form-control", placeholder = "Ativa" })
                                </div>}
                    <label asp-for="fl_capacete" class="col-sm-1 col-form-label">Capacete Obr. ?</label>
                    <div class="col-lg-1">
                        @Html.CheckBoxFor(model => model.BoolCapacete, new { @checked = Model.BoolCapacete, @class = "form-control", placeholder = "Ativa" })
                        @Html.ValidationMessageFor(model => model.fl_capacete, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                    <label asp-for="fl_aluga_capacete" class="col-sm-1 col-form-label">Aluga Cap. ?</label>
                    <div class="col-lg-1">
                        @Html.CheckBoxFor(model => model.BoolAluga, new { @checked = Model.BoolAluga, @class = "form-control", placeholder = "Ativa" })
                        @Html.ValidationMessageFor(model => model.fl_aluga_capacete, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                    <label asp-for="fl_cobertura" class="col-sm-1 col-form-label">Coberta ?</label>
                    <div class="col-lg-1">
                        @Html.CheckBoxFor(model => model.BoolCobertura, new { @checked = Model.BoolCobertura, @class = "form-control", placeholder = "Ativa" })
                        @Html.ValidationMessageFor(model => model.fl_cobertura, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ds_horario_funcionamento" class="col-sm-2 col-form-label">Horario de funcionamento</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.ds_horario_funcionamento, new { @class = "form-control", placeholder = "Horario de funcionamento" })
                        @Html.ValidationMessageFor(model => model.ds_horario_funcionamento, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="nr_nota" class="col-sm-2 col-form-label">Nota da pista</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.nr_nota, new { @class = "form-control", placeholder = "Nota" })
                        @Html.ValidationMessageFor(model => model.nr_nota, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="id_tamanho" class="col-sm-2 col-form-label">Tamanho</label>
                    <div class="col-lg-2">
                        @Html.DropDownListFor(model => model.id_tamanho, new SelectList(Model.tamanhos, "Value", "Text"), "Selecione um tamanho", new { id = "tamanhocombo", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_tamanho, string.Empty, htmlAttributes: new { @class = "text-danger" })

                    </div>

                </div>
                <div class="form-group row">
                    <label asp-for="ds_notas_gerais" class="col-sm-2 col-form-label">Observações</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(model => model.ds_notas_gerais, new { @class = "form-control", placeholder = "Observações" })
                        @Html.ValidationMessageFor(model => model.ds_notas_gerais)
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group row">
                    <label asp-for="modalidadesSelecionadas" class="col-sm-3 col-form-label">Modalidades da Pista</label>
                    <div class="col-lg-3">
                        @Html.ListBoxFor(m => m.modalidadesSelecionadas, new MultiSelectList(Model.modalidades, "Value", "Text"), new { id = "modalidadescombo", multiple = "multiple" })
                    </div>
                    <label asp-for="niveisSelecionados" class="col-sm-3 col-form-label">Niveis de dificuldade data pista</label>
                    <div class="col-lg-3">
                        @Html.ListBoxFor(m => m.niveisSelecionados, new MultiSelectList(Model.niveis, "Value", "Text"), new { id = "niveisCombo", multiple = "multiple" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">  </label>
                    <div class="col-lg-3">
                        @Html.ValidationMessageFor(model => model.modalidadesSelecionadas, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                    <label class="col-sm-3 col-form-label">  </label>
                    <div class="col-lg-3">
                        @Html.ValidationMessageFor(model => model.niveisSelecionados, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>

                <br>
                <br>


                <div class="form-group row">
                    <label asp-for="ds_endereco" class="col-sm-2 col-form-label">Rua/Av.</label>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(model => model.ds_endereco, new { @class = "form-control", placeholder = "Observações" })
                        @Html.ValidationMessageFor(model => model.ds_endereco, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                    <label asp-for="nr_endereco" class="col-sm-2 col-form-label">Número</label>
                    <div class="col-lg-2">
                        @Html.TextBoxFor(model => model.nr_endereco, new { @class = "form-control", placeholder = "Observações" })
                        @Html.ValidationMessageFor(model => model.nr_endereco, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="cd_cep" class="col-sm-2 col-form-label">Cep</label>
                    <div class="col-lg-2">
                        @Html.TextBoxFor(model => model.cd_cep, new { @class = "form-control", placeholder = "Observações" })
                        @Html.ValidationMessageFor(model => model.cd_cep, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                    <label asp-for="nr_latitude" class="col-sm-2 col-form-label">Latitude</label>
                    <div class="col-lg-2">
                        @Html.TextBoxFor(model => model.latitude, new { @class = "form-control data-val-ignore", placeholder = "Observações" })
                        @Html.ValidationMessageFor(model => model.latitude, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                    <label asp-for="nr_longitude" class="col-sm-2 col-form-label">Longitude</label>
                    <div class="col-lg-2">
                        @Html.TextBoxFor(model => model.longitude, new { @class = "form-control data-val-ignore", placeholder = "Observações" })
                        @Html.ValidationMessageFor(model => model.longitude, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group row">
                    <label asp-for="id_estado" class="col-sm-2 col-form-label">Estado</label>
                    <div class="col-lg-2">
                        @Html.DropDownListFor(model => model.id_estado, new SelectList(Model.estados, "Value", "Text"), "Selecione um Estado", new { id = "estadoCombo", @class = "form-control" })

                    </div>
                    <label asp-for="id_cidade" class="col-sm-2 col-form-label">Cidade</label>
                    <div class="col-lg-2">
                        @Html.DropDownListFor(model => model.id_cidade, new SelectList(Model.cidades, "Value", "Text"), "Selecione um Município", new { id = "cidadeCombo", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">  </label>
                    <div class="col-lg-2">
                        @Html.ValidationMessageFor(model => model.id_estado, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                    <label class="col-sm-2 col-form-label">  </label>
                    <div class="col-lg-2">
                        @Html.ValidationMessageFor(model => model.id_cidade, string.Empty, htmlAttributes: new { @class = "text-danger" })
                    </div>
                </div>

                <br>
                <br>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label asp-for="imagens_pista" class="col-sm-3 col-form-label">Imagem de perfil</label>
                        <div class="custom-file">
                            <input asp-for="imagens_pista" class="custom-file-input" id="customFile" multiple="multiple">
                            <label class="custom-file-label" for="customFile">Escolha a foto</label>
                        </div>
                        <span asp-validation-for="imagens_pista" class="text-danger"></span>
                    </div>
                </div>

                <br>
                <br>
                @if (Model.id_pista != 0)
                {
            <div class="form-group row">
                <label asp-for="id_status_aprovacao" class="col-sm-2 col-form-label">Status</label>
                <div class="col-lg-2">
                    @Html.DropDownListFor(model => model.id_status_aprovacao, new SelectList(Model.status, "Value", "Text"), new { id = "tamanhocombo", @class = "form-control" })
                </div>

            </div>}

                <br>
                <br>

                <div class="form-group row">
                    <div class="form-group row">
                        <label asp-for="nm_usuario_envio" class="col-sm-2 col-form-label">Nome</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.nm_usuario_envio, new { @class = "form-control", placeholder = "Nome" })
                            @Html.ValidationMessageFor(model => model.nm_usuario_envio, string.Empty, htmlAttributes: new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="nr_telefone" class="col-sm-2 col-form-label">Telefone</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.nr_telefone, new { @class = "form-control", placeholder = "Telefone" })
                            @Html.ValidationMessageFor(model => model.nr_telefone, string.Empty, htmlAttributes: new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ds_email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.ds_email, new { @class = "form-control", placeholder = "Email" })
                            @Html.ValidationMessageFor(model => model.ds_email, string.Empty, htmlAttributes: new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </form>


        </div>

    </div>
</div>