@model IPagedList<ProjetoPista.Model.Dtos.ProfessorDto>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Common;
@section Scripts{
    <script src="~/js/Aprovacoes/SalvarPista.js" asp-append-version="true"></script>

    <link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap-multiselect.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-multiselect.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/bootstrap-slider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>


    <style>

        h1, h2, h3, h4 {
            
            font-family: Roboto,Arial,sans-serif;
        }

        p {
            font-family: Roboto,Arial,sans-serif;
        }
        .btn {
            border-radius: 0.15rem;
            font-family: Roboto,Arial,sans-serif;
        }
        .page-link {
            line-height: 1.25;
            color: #721c24;
            background-color: #fff;
        }

        .page-item.active .page-link {
            z-index: 1;
            color: #fff;
            background-color: #9D1B2C;
            border-color: #721c24;
        }

        .list-group-item {
            width: 95%;
            margin: 1% !important;
        }

        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;

        }

        .container-fluid-capa {
            background-color: #ebe9e7;
            padding: 2vh;
        }

        .carousel {
            margin-bottom: 4rem;
        }
        
        .btn-primary {
            background-color: #9D1B2C;
            border-color: #9D1B2C;
        }

            .btn-primary:hover {
                color: #fff;
                background-color: #721c24;
                border-color: #721c24;
            }
        /* Já que usamos posicionamento de imagens, precisaremos fazer alguns ajustes na legenda */
        .carousel-caption {
            bottom: 3rem;
            z-index: 10;
        }

        /* Declaramos alturas, devido ao posicionamento do elemento img */
        .carousel-item {
            height: 20rem;
            background-color: #201414;
            transition: 10s ease-in-out left;
        }

            .carousel-item > img {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
                height: 20rem;
            }


        .btn-near {
            color: #fff;
            background-color: #b50011;
            border-color: #360005;
        }

        @@media (min-width: 576px) {
            .list-group-item {
                width: 47%;
                margin: 5px 1.5% !important;
                background-color: #f4f4f5;
            }
        }

        @@media (min-width: 768px) {
            .list-group-item {
                width: 31.333%;
                margin: 5px 1% !important;
                background-color: #f4f4f5;
            }
        }

        @@media (min-width: 992px) {
            .list-group-item {
                width: 30%;
                margin: 5px 1% !important;
                background-color: #f4f4f5;
            }
        }

        #container {
            display: inline-block;
            position: relative;
            width: 100%;
        }

            #container figcaption {
                position: absolute;
                top: 145px;
                left: 20px;
                font-size: 40px;
                color: whitesmoke;
            }
    </style>
}
@{ ViewBag.Title = "Professores"; }

<div class="container-fluid-capa" >
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="#" alt="First slide">
                <div class="container">
                    <div class="carousel-caption col-md-5 p-lg-5 mx-auto">
                        <h1>Professores</h1>
                        <p>Encontre seus professores favoritos.</p>
                        <p><a class="btn btn-md btn-primary" href="#buscaMapa" role="button">Procure já</a></p>
                    </div>
                </div>
            </div>
            @*
                <div class="carousel-item">
                    <img class="second-slide" src="~/files/capa4.png" alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption col-md-5 p-lg-5 mx-auto my-5">
                            <h1>Outra manchete</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-md btn-primary" href="#" role="button">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="third-slide" src="~/files/capa4.png" alt="Third slide">
                    <div class="container">
                        <div class="carousel-caption text-right">
                            <h1>Outra manchete, pra garantir</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Voltar</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Avançar</span>
                </a>*@
        </div>
    </div>
</div>
@*
    <div class="container-fluid-capa" style="background-image: linear-gradient(#ebe9e7, #fffcf8); ">
    </div>
*@
<div class="container-fluid" style="margin-top:-8vh;padding-bottom:3vh;">


    <h3>Consulte os professores aqui</h3>
</div>

<div class="container-fluid">

    <div class="row">
        <div role="main" class="col-md-9">
            <form id="frm-professor" asp-controller="DashProfessor" asp-action="Filtrar" method="post" enctype="multipart/form-data">

                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="submit" class="btn btn-secondary" id="btn-filtrar" >Filtrar</button>
                    </div>
                    <div class="input-group mr-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon">Nome</div>
                        </div>
                        <input name="nm_professor" type="text" value="@ViewBag.nm_professor" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
                    </div>
                    <div class="input-group mr-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon">Apelido</div>
                        </div>
                        <input name="nm_apelido" type="text" value="@ViewBag.nm_apelido" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
                    </div>
                    @*
                        <div class="input-group mr-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon2">Pista</div>
                            </div>
                            @Html.DropDownListFor(C => C, new SelectList(ViewBag.pistas, "Value", "Text"), new { id = "pistaCombo", @class = "form-control", name = "id_pista" })
                        </div>
                        <div class="input-group mr-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon2">Estado</div>
                            </div>
                            @Html.DropDownListFor(C => C, new SelectList(ViewBag.Estado, "Value", "Text"), new { id = "estadoCombo", @class = "form-control", name = "id_estado" })
                        </div>
                        <div class="input-group mr-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon2">Cidade</div>
                            </div>
                            @Html.DropDownListFor(C => C, new SelectList(ViewBag.Cidade, "Value", "Text"), new { id = "cidadeCombo", @class = "form-control", name = "id_cidade" })
                        </div>
                    *@
                </div>
            </form>
            <div id="CardsProfessor" class="container-fluid">
                @*@await Html.PartialAsync("CardsProfessor.cshtml", Model.ToPagedList(1, 1))*@
                <div class="container-fluid">
                    <ul class="list-group list-group-horizontal align-items-stretch flex-wrap">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item border-0">
                                <div class="card my-3">
                                    <img src="~/imagensProf/@item.nm_profile" class="card-img-top img-responsive">
                                    <div class="card-body">
                                        <h4 class="card-title">@item.nm_professor.Split(" ")[0] (@item.nm_apelido)</h4>
                                        @*<p class="card-text">@item.ds_telefone</p>
                                        <p class="card-text">@item.ds_email</p>
                                        <p class="card-text">@item.ds_instagram</p>
                                        <p class="card-text">@item.vl_hora_aula</p>*@
                                        <p class="card-text"><span><i class="fa fa-mobile fa-fw" style="color: black; margin-right: 5px;"></i></span>@item.ds_telefone</p>
                                        <p class="card-text"><span><i class="fa fa-envelope fa-fw" style="color: black; margin-right: 5px;"></i></span>@item.ds_email</p>
                                        <p class="card-text"><span><i class="fa fa-instagram fa-fw" style="color: black; margin-right: 5px;"></i></span>@item.ds_instagram</p>
                                        <p class="card-text"><span><i class="fa fa-dollar-sign fa-fw" style="color: black; margin-right: 5px;"></i></span>@item.vl_hora_aula/hora</p>
                                        <a class="btn btn-primary" type="button" asp-controller="DashProfessor" asp-action="PistasProf" asp-route-id="@item.id_professor"><i class="fas"></i>Ver pistas</a>

                                    </div>
                                </div>
                            </li>
}
                    </ul>
                    <br />
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Consultar", new { page, sortOrder = ViewBag.CurrentSort, nm_professor = ViewBag.nm_professor, currentFilter = ViewBag.CurrentFilter }),
                                                           new X.PagedList.Web.Common.PagedListRenderOptions
                                                           {
                                                               LiElementClasses = new string[] { "page-item" },
                                                               PageClasses = new string[] { "page-link" }
                                                           }
                                                               )

                </div>

            </div>
        </div>
        <aside role="complementary" class="col-md-3">
            <div class="container-fluid">
                <img src="~/modelosAnuncios/300x300.png" class="img-fluid" alt="Responsive image">
            </div>
            <br />
            <div class="container-fluid">
                <img src="~/modelosAnuncios/300x600.png" class="img-fluid" alt="Responsive image">
            </div>
        </aside>
    </div>

</div>

<br />
<br />
<br />
<br />
<div class="container-fluid" align="center">
    <img src="~/modelosAnuncios/728x90.png" class="img-fluid" alt="Responsive image">
</div>




